<%= render 'shared/header' %>
<div class="cp-wrap">

  <div class="cp-card">
    <%= form_for @event, :url => { :action => "create" }, remote: false do |f| %>
      <label>Name</label>
      <%= f.text_field :name %>
      <br/>
      <br/>
      <label>Livepeer URL</label>
      <%= f.text_field :stream_url %>
      <br/>
      <br/>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>


  <div>
    <%= link_to 'Back', authenticated_root_path, class: "btn btn-primary" %>
  </div>
</div>


