<%= render 'shared/header' %>
<div class="cp-wrap">
  <div class="cp-card" style="text-align: center">
    <h1>Event: <%= @event.name %></h1>
  </div>

  <div class="cp-card">
    <div>Live ID:
      <a href="/live/<%= @event.live_id %>" target="_blank">
        <strong>
          <%= @event.live_id %>
        </strong>
      </a>
    </div>
    <div>
      Livepeer URL: <strong><%= @event.stream_url %></strong>
    </div>
  </div>


  <div>
    <%= link_to 'Back', authenticated_root_path, class: "btn btn-primary" %>
  </div>
</div>