<h1>Event#show</h1>
<p>Find me in app/views/event/show.html.erb</p>

<div>
  Name: <strong><%= @event.name %></strong>
</div>

<div>
  live_id:
  <a href="/live/<%= @event.live_id %>" target="_blank">
    <strong>
      <%= @event.live_id %>
    </strong>
  </a>
</div>

<div>
  stream_url: <strong><%= @event.stream_url %></strong>
</div>

<div>
  <%= link_to 'Back', authenticated_root_path %>
</div>