<%= render 'header' %>
<div></div>

<div class="cp-wrap">
  <div class="cp-card" style="text-align: center">
    <h1>Hello <%= @creator.username %></h1>
  </div>

  <h2>Events</h2>
  <div>

    <% @creator.events.each do |event| %>
      <div class="cp-card" style="display: flex; justify-content: space-between; align-items: center">
        <h4 style="color: #585858; font-variant: small-caps;"><%= event.name %></h4>
        <%= link_to "View", event_show_url(event.id), class: "btn btn-primary" %>
      </div>
    <% end %>
    <% if @creator.events.blank? %>
      <div class="cp-card">
        No events
      </div>
    <% end %>
  </div>

  <div>
    <%= link_to 'Create new event', event_new_url, class: "btn btn-primary" %>
  </div>
</div>